<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <page-overview-header title="Consolidated CDA (C-CDA) Sandbox" description="The C-CDA Sandbox contains resources and tools for the HL7 Consolidated Clinical Document Architecture (C-CDA) implementation guides. These tools will help in testing of C-CDA documents for conformance to the C-CDA IG, the ONC 2014 Edition and ONC 2015 Edition C-CDA objectives and also help with quantitative assessment of the data quality using the Scorecard."></page-overview-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="sandbox-container">
                <li>
                    <a class="sandbox-block" routerLink="/sandbox-ccda/ccda-validator" tabindex="1" title="C-CDA Validator">
                        <span class="caption glyphicon glyphicon-wrench"></span>
                        <h4>C-CDA Validator</h4>
                        <span>The SITE C-CDA Validator validates conformance of C-CDA documents based on the HL7 Implementation Guide and the ONC 2014 and 2015 Certification Edition regulations and objectives</span>
                    </a>
                </li>
                <li>
                    <a class="sandbox-block" [href]="scorecard_url" tabindex="1" title="C-CDA Scorecard" target="_blank">
                        <span class="caption glyphicon glyphicon-list-alt"></span>
                        <h4>C-CDA Scorecard</h4>
                        <span>The SITE C-CDA Scorecard provides an enhanced level of interoperability for C-CDA documents by using a comprehensive scoring system, which allows implementers to improve the data quality and representation of their C-CDA documents, thereby increasing the precision of documents used in the real-world.</span>
                    </a>
                </li>
              <li>
                <a class="sandbox-block" href="https://oncprojectracking.healthit.gov/wiki/display/TechLabTU/ONC+One+Click+Scorecard"
                   tabindex="1" title="One-Click Scorecard" target="_blank">
                  <span class="caption glyphicon glyphicon-ok"></span>
                  <h4>One-Click Scorecard</h4>
                  <span>Providers using the DirectTrust network can now send a C-CDA file (XML) Direct message to scorecard@direct.hhs.gov and the One-Click Scorecard service will return a letter grade (A, B, C, D) report to the sender. The report depicts the C-CDA quality as compared to HL7 Best Practices, with additional guidance on conformance to the ONC 2014-2015 Edition criteria, and compliance with the HL7 C-CDA Implementation guide. Anyone not a member of DirectTrust can request a counterparty trust setup by sending an email to: <a href="mailto:sitteam@hhs.gov">sitteam@hhs.gov</a></span>
                </a>
              </li>
                <li>
                    <a class="sandbox-block" href="http://www.hl7.org/permalink/?HelpDesk" tabindex="1" title="HL7 Help Desk" target="_blank">
                        <span class="caption glyphicon glyphicon-question-sign"></span>
                            <h4>HL7 C-CDA Help Desk</h4>
                            <span>Gain access to HL7 exclusive member services which include FAQs written by standards professionals, exclusive implementation materials, and other exclusive HL7 member services.</span>
                    </a>
                </li>
                <li>
                    <a class="sandbox-block" href="https://github.com/chb/sample_ccdas" tabindex="1" title="Sample Repository" target="_blank">
                        <span class="caption glyphicon glyphicon-cloud-download"> </span>
                        <h4>Sample Repository</h4>
                        <span>The C-CDA Sample Data Repository contains a collection of sample C-CDA documents provided by multiple vendors and can be leveraged by the community as samples for testing and understanding the C-CDA standard.</span>
                    </a>
                </li>
                <li>
                    <a class="sandbox-block" href="http://bit.ly/contribute-ccda" tabindex="1" title="Contribute a C-CDA Sample" target="_blank">
                        <span class="caption glyphicon glyphicon-cloud-upload"></span>
                        <h4>Contribute a C-CDA Sample</h4>
                        <span>Users can contribute their own sample C-CDA data. Sample documents should be available under an open license and should not contain Protected Health Information (PHI). Ideally, these documents represent actual output of real export pipelines. These samples will be available to the community for their own use.</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3> Additional CDA Related Resources</h3>
                        <a class="sandbox-block btn btn-default" href="https://github.com/projectcypress/health-data-standards" tabindex="1" title="Health Data Standards" target="_blank">
                            <h4>Health Data Standards</h4>
                            <span>This is a project to generate and consume HITSP C32, ASTM CCR, QRDA Category I, QRDA Category III and PQRI. In addition this project also contains libraries for parsing HQMF documents and for dealing with NLM valuesets.</span>
                        </a>
                        <a class="sandbox-block btn btn-default" href="http://www.healthit.gov/policy-researchers-implementers/consolidated-cda-overview" tabindex="1" title="Consolidated CDA Overview" target="_blank">
                            <h4>Consolidated CDA Overview</h4>
                            <span>This presentation walks you through the basic concepts of the Health Level 7 (HL7) C-CDA standard and how it can be used to meet ONC 2014 and 2015 Certification Edition regulations and objectives.</span>
                        </a>
            </div>
        </div>
    </div>
</div>
