

.syntaxhighlighter .code .container:before {
	display: block;
}

.syntaxhighlighter {
    overflow-y: hidden !important;
}

.background-validation-error {
	color: #fff !important;
	background-color: #b92c28 !important;
	border-color: #b92c28 !important;
}

.background-validation-warning {
	color: #fff !important;
	background-color: #f0ad4e !important;
	border-color: #f0ad4e !important;
}

.background-validation-info {
	color: #fff !important;
	background-color: #28a4c9 !important;
	border-color: #28a4c9 !important;
}

.text-validation-error {
	color: #b92c28 !important;
}

.text-validation-warning {
	color: #f0ad4e !important;
}

.text-validation-info {
	color: #28a4c9 !important;
}

.results-group{
	max-height: 900px !important;
}

pre[class*="language-"] {
	background: none !important;
}