<div class="container">
  <div class="row">
    <div class="col-sm-12 sandbox-overview">
      <div class="col-sm-12">
        <h1>C-CDA Validator</h1>
        <p>The goal of the SITE C-CDA Validator is to validate conformance of C-CDA documents to the standard in order to promote interoperability. It is a resource to validate the conformance of C-CDA documents to ONC 2014 and 2015 Certification Editions regulations and objectives, or the base HL7 C-CDA Implementation Guide.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="false">
        <accordion-group heading="R1.1 Validator">
          <ccda-r1-validator-component></ccda-r1-validator-component>
        </accordion-group>
        <accordion-group heading="R2.1 Validator">
          <ccda-r2-validator-component></ccda-r2-validator-component>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-sm-5">
      <div class="well pre-scrollable">
        <h3>1.0.4 Release Notes</h3>
        <ul class="list-group">
          <li class="list-group-item">See ETT related errata 1017 and 1045 (implementation requested or errata
            created via discussion in ETT forum)
          </li>
          <li class="list-group-item">Fixed typeCode identification issue for performers in Continuity Of Care
            Document level validations
          </li>
          <li class="list-group-item">1017, 1038, 1045 ERRATA</li>
          <li class="list-group-item">Adds multiple rules which, among other things, allows additional
            effectiveTime elements in Planned Medication Activity (such as one to record frequency) as long
            as one of them is of type IVL_TS or TS
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3>Links to C-CDA Reference Information</h3>
        <a class="btn btn-default" href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=408" style="width: 100%;" tabindex="1" target="_blank">C-CDA R2.1 Product
          Page</a> <span class="external-page embedded"><a class="ext-icon"
                                                           href="http://www.hhs.gov/disclaimer.html"
                                                           tabindex="1" target="_blank"
                                                           title="Web Site Disclaimers"><span
        class="hiddenText">Web Site Disclaimers</span></a></span> <a class="btn btn-default"
                                                                     href="http://wiki.siframework.org/Companion+Guide+to+Consolidated+CDA+for+MU2"
                                                                     style="width: 100%;" tabindex="1"
                                                                     target="_blank">S&amp;I Framework
        C-CDA Companion Guide for MU2</a> <span class="external-page embedded"><a class="ext-icon"
                                                                                  href="http://www.hhs.gov/disclaimer.html"
                                                                                  tabindex="1"
                                                                                  target="_blank"
                                                                                  title="Web Site Disclaimers"><span
        class="hiddenText">Web Site Disclaimers</span></a></span> <a class="btn btn-default"
                                                                     href="https://hit-dev.nist.gov:11081/ttt/#/validators"
                                                                     style="width: 100%;" tabindex="1"
                                                                     target="_blank">NIST C-CDA R2.1
        Validator</a><span class="external-page embedded"><a class="ext-icon"
                                                             href="http://www.hhs.gov/disclaimer.html"
                                                             tabindex="1" target="_blank"
                                                             title="Web Site Disclaimers"><span
        class="hiddenText">Web Site Disclaimers</span></a></span> <a class="btn btn-default"
                                                                     href="http://ccda-scorecard.smartplatforms.org/static/ccdaScorecard/#/"
                                                                     style="width: 100%; " tabindex="1"
                                                                     target="_blank">SMART C-CDA
        Scorecard</a> <span class="external-page embedded"><a class="ext-icon"
                                                              href="http://www.hhs.gov/disclaimer.html"
                                                              tabindex="1" target="_blank"
                                                              title="Web Site Disclaimers"><span
        class="hiddenText">Web Site Disclaimers</span></a></span>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3> Relationship to NIST C-CDA Validator</h3>
        <p>
          The NIST C-CDA Validator for ONC 2014 and 2015 Certification Editions and this version of the C-CDA
          validator are both
          based on the Model Driven Health Tools (MDHT) software. The SITE C-CDA Validator's agile development
          process adopts bug
          fixes more quickly and provides additional enhancements that may not be required for the NIST C-CDA
          Validator.
          Ensuring that a document passes the SITE C-CDA Validator validation will improve the quality of
          C-CDA documents produced,
          and promote interoperability.
        </p>
      </div>
    </div>
  </div>
</div>

