<footer>
  <div class="container" role="contentinfo">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>This project was funded by a contract from the <a href="http://www.healthit.gov" tabindex="100" target="_blank">Office
          of the National Coordinator for Health Information Technology (ONC)</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p><site-version></site-version></p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Inquiries or questions, email <a
          href="mailto:TestingServices@sitenv.org" tabindex="100">TestingServices@sitenv.org</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p><site-news-announcements></site-news-announcements>|<site-release-notes></site-release-notes></p>
      </div>
      <div class="col-sm-6 text-right">
        <p><a href="http://www.hhs.gov/Privacy.html" tabindex="100">Privacy
        Policy</a> | <a href="http://www.hhs.gov/Disclaimer.html" tabindex="100">Disclaimers</a></p>
      </div>
    </div>
  </div>
</footer>
