<footer class="hidden-print">
  <div class="container" role="contentinfo">
    <div class="row">
      <div class="col-sm-6 text-left">
        <site-version></site-version>
      </div>
      <div class="col-sm-6 text-right">
        Inquiries or questions, email <a
          href="mailto:edge-test-tool@googlegroups.com">edge-test-tool@googlegroups.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <site-news-announcements></site-news-announcements> | <site-release-notes></site-release-notes>
      </div>
      <div class="col-sm-6 text-right">
        <a href="http://www.hhs.gov/Privacy.html">Privacy
        Policy</a> | <a href="http://www.hhs.gov/Disclaimer.html">Disclaimers</a>
      </div>
    </div>
  </div>
</footer>
