<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <page-overview-header title="Direct Transport Sandbox" description="The sandbox contains resources and test tools related to the Direct project and Direct systems registered by health IT developers that can be used by implementers to test interoperability."></page-overview-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" routerLink="/sandbox-direct/directtransport" tabindex="1" title="Direct Transport Test Tool">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct Transport Test Tool</h4>
            <span> This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/web/site/direct-xdr-edge-test-tool" tabindex="1" title="Direct XDR Edge Test Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct XDR Edge Test Tool</h4>
            <span>This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct XDR Edge Implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>