<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <page-overview-header title="Direct Transport Sandbox" description="The sandbox contains resources and test tools related to the Direct project and Direct systems registered by health IT developers that can be used by implementers to test interoperability."></page-overview-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" routerLink="/sandbox-direct/directtransport" tabindex="1" title="Direct Transport Test Tool">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct Transport Test Tool</h4>
            <span> This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/web/site/direct-xdr-edge-test-tool" tabindex="1" title="Direct XDR Edge Test Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct XDR Edge Test Tool</h4>
            <span>This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct XDR Edge Implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/web/site/direct-smtp-edge-test-tool" tabindex="1" title="Direct SMTP Edge Test Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct SMTP Edge Test Tool</h4>
            <span>This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct SMTP Edge Implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/direct-vendor-tools/" tabindex="1" title="Direct Transport Standard Testing Services" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"> </span>
            <h4>Direct Transport Standard Testing Services</h4>
            <span>The SITE Direct Transport Standard Testing Services contain information about health IT developers and their certified EHR technology that is available for implementers to exchange Direct messages with their implementations.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/web/site/direct-certificate-discovery-tool" tabindex="1" title="2014 Direct Certificate Discovery Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>2014 Direct Certificate Discovery Tool</h4>
            <span>This Tool supports automated testing of systems that plan to enact the Certificate Discovery and Provider Directory Implementation Guide, approved as normative specification by the Direct community.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://sitenv.org/web/site/direct-certificate-discovery-tool-2015" tabindex="1" title="2015 Direct Certificate Discovery Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>2015 Direct Certificate Discovery Tool</h4>
            <span>This Tool supports automated testing of systems that plan to enact the Certificate Discovery and Provider Directory Implementation Guide, approved as normative specification by the Direct community.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="http://confluence.siframework.org/display/DCDT/Direct+Certificate+Discovery+Tool+Home" tabindex="1" title="2015 Direct Certificate Discovery Tool" target="_blank">
            <span class="caption glyphicon glyphicon-book"></span>
            <h4>Direct Certificate Discovery Tool Documentation</h4>
            <span>Documentation and guidance for the Direct Certificate Discovery Tool.</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3> Additional Direct Related Resources</h3>
        <a class="sandbox-block btn btn-default" href="https://ttpedge.sitenv.org/ttp/#/home" tabindex="1" title="NIST ETT Test Tool" target="_blank">
          <h4>NIST ETT Test Tool</h4>
          <span>The NIST ETT Test Tool allows implementers and developers to test requirements and standards related to message transport specifications expressed within the 2014 R2 Edition of the ONC Standards &amp; Certification Criteria.</span>
        </a>
        <a class="sandbox-block btn btn-default" href="https://groups.google.com/forum/#!forum/transport-testing-tool" tabindex="1" title="Transport Testing Tool Google Group" target="_blank">
          <h4>Transport Testing Tool Google Group</h4>
          <span>The Google Group has been established for support of the Transport Testing Tool and Test Procedure developed by NIST. No membership is required. A Google account is required for posting.</span>
        </a>
      </div>
    </div>
  </div>
</div>