<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <page-overview-header title="Direct Transport Sandbox" description="This sandbox contains resources and test tools related to the Direct project that can be used by health IT developers implementing Direct protocols and ONC 2014 and ONC 2015 Edition objectives."></page-overview-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" routerLink="/sandbox-direct/directtransport" tabindex="1" title="Direct Transport Test Tool">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct Transport Test Tool</h4>
            <span> This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" routerLink="/sandbox-direct/xdr" tabindex="1" title="Direct XDR Edge Test Tool">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Direct XDR Edge Test Tool</h4>
            <span>This Tool provides a mechanism for developers to test the sending and receiving capabilities of their Direct XDR Edge Implementations. The implementers can interact with a Direct Reference Implementation to check their implementations for interoperability and functionality.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://oncprojectracking.healthit.gov/wiki/display/TechLabTU/ONC+One+Click+Scorecard"
             title="One-Click Scorecard" tabindex="1" target="_blank">
            <span class="caption glyphicon glyphicon-ok"></span>
            <h4>One-Click Scorecard</h4>
            <span>Providers using the DirectTrust network can now send a C-CDA file (XML) Direct message to <a href="mailto:scorecard@direct.hhs.gov">scorecard@direct.hhs.gov</a> and the One-Click Scorecard service will return a letter grade (A, B, C, D) report to the sender. The report depicts the C-CDA quality as compared to HL7® best practices, with additional guidance on conformance to the ONC Health IT Certification Program criteria, and compliance with the HL7® C-CDA Implementation Guide. Anyone not a member of DirectTrust can request a counterparty trust setup by ending an email to: <a href="mailto:edge-test-tool@googlegroups.com">edge-test-tool@googlegroups.com</a></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
