<div class="container">
  <page-overview-header title="QRDA-CQM Sandbox" description="Cypress is the official testing tool for the Electronic Health Record (EHR) Certification program based on the ONC 2014 and 2015 Certification Editions for Clinical Quality Measures (CQM). Cypress enables repeatable and rigorous testing of an EHR's ability to accurately calculate ONC 2014 and 2015 Certification Editions Eligible Provider (EP) and Eligible Hospital (EH) CQMs. Cypress has been designed to support both the EHR vendor and Authorized Testing Labs responsible for testing EHR technologies as part of the certification process.  Cypress is sponsored by the Office of the National Coordinator for Health Information Technology (ONC) and has been designed and developed by The MITRE Corporation."></page-overview-header>
  <div class="row">
    <div class="col-sm-12">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" href="http://www.projectcypress.org/" tabindex="1" title="Cypress Knowledge Base" target="_blank">
            <span class="caption glyphicon glyphicon-book"></span>
            <h4>Cypress Knowledge Base</h4>
            <span>The Cypress Knowledge Base is a starting point for vendors and Authorized Testing Labs responsible for testing EHR technologies.  The Knowledge Base has Frequently Asked Questions, as well as links to additional eCQM resources.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="http://jira.oncprojectracking.org/browse/CYPRESS" tabindex="1" title="Issue Tracker" target="_blank">
            <span class="caption glyphicon glyphicon-warning-sign"></span>
            <h4>CYPRESS Issue Trackerk</h4>
            <span>The Cypress Issue Tracker helps to track questions and issues which require input from the Cypress team.  The issues are tracked through a simple workflow to interact and collaborate with the Cypress team.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://cypressdemo.healthit.gov" tabindex="1" title="cypress-qrda-validator" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"> </span>
            <h4>Cypress QRDA Validator</h4>
            <span>The CYPRESS QRDA Validator provides implementers with the ability to validate the conformance of QRDA Category I and Category III documents to the following implementation guides (IGs): 2015 CMS QRDA Combined IG and the HL7 QRDA Errata IG for 2014.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://github.com/projectcypress/cypress/wiki" tabindex="1" title="Install Cypress" target="_blank">
            <span class="caption glyphicon glyphicon-save"></span>
            <h4>Install Cypress</h4>
            <span>Download your own instance of Cypress to test and experiment with prior to certification with an Accredited Testing Laboratory.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://cypressdemo.healthit.gov" tabindex="1" title="Demo Cypress" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>Demo Cypress</h4>
            <span>Experiment with the current Cypress Baseline (Note: You will be prompted to log in with your NLM UMLS credentials)</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="https://bonnie.healthit.gov/" tabindex="1" title="BONNIE" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>BONNIE</h4>
            <span>A tool for testing electronic clinical quality measures.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" href="http://ecqi.healthit.gov/" tabindex="1" title="eCQI Resource Center" target="_blank">
            <span class="caption glyphicon glyphicon-question-sign"></span>
            <h4>eCQI Resource Center</h4>
            <span>The one-stop shop for the most current resources to support electronic clinical quality improvement.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
