<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <page-overview-header title="Direct XDR Edge Test Tool" description="The goal of the Direct XDR Edge Test Tool is to provide a mechanism for developers to test their Direct Edge protocols implementation based on IHE XDR profile."></page-overview-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Site sends Direct messages to your system</h2>
        </div>
        <div class="panel-body">
          <p>Send XDR messages from the Sandbox to your system.</p>
          <ul>
            <li>Send messages from SITE XDR Test Tool to your system by entering your endpoint below.</li>
            <li>Enter any optional properties by expanding the optional XDR message properties panel. To remove the entered properties, collapse the panel by clicking on the title.</li>
            <li>Choose a CCDA document that you would like to attach as part of the payload.</li>
            <li>Send the XDR message.</li>
          </ul>

          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#precanned" role="tab" data-toggle="tab" tabindex="1">Choose Precanned Content</a></li>
            <li class=""><a href="#choosecontent" role="tab" data-toggle="tab" tabindex="1">Choose Your Own Content</a></li>
          </ul>
          <div class="well">
            <div class="tab-content">
              <div class="tab-pane active" id="precanned">
                <direct-xdr-send-precanned-messages>loading...</direct-xdr-send-precanned-messages>
              </div>
              <div class="tab-pane" id="choosecontent">
                <direct-xdr-send-uploaded-messages>laoding...</direct-xdr-send-uploaded-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <direct-xdr-message-lookup>loading...</direct-xdr-message-lookup>
      <div class="well">
        <h3>Links to XDR Reference Information</h3>
        <a class="btn btn-default" href="http://www.ihe.net/Technical_Framework/upload/IHE_ITI_Suppl_Support-for-Metadata-Limited-Doc-Sources_Rev1-1_TI_2011-08-19.pdf" style="width: 100%;" tabindex="1" target="_blank">IHE XDR profile for Limited Metadata Sources</a><span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span>
        <a class="btn btn-default" href="https://github.com/siteadmin/soap" style="width: 100%;" tabindex="1" target="_blank">SITE IHE XDR Test Tool Implementation</a><span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span>
        <a class="btn btn-default" href="http://wiki.directproject.org/file/view/Implementation+Guide+for+Direct+Edge+Protocols+v1.1.pdf" style="width: 100%;" tabindex="1" target="_blank">XDR in the context of Direct Edge Protocols</a><span class="external-page embedded"> <a class="ext-icon" href="http://www.hhs.gov/disclaimer.html"><span class="hiddenText">Web Site Disclaimers</span></a></span><span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span>
        <a class="btn btn-default" href="https://edge.nist.gov/ett/#/edge/xdr" style="width: 100%;" tabindex="1" target="_blank">NIST Edge Test Tool for Direct Edge Protocols</a><span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span>
      </div>
    </div>
  </div>
</div>

