.ccdaErrorHighlight{
    /* border: 2px solid #ebccd1 !important;  */
    background-color: #f2dede !important;
    cursor: pointer;
}

.ccdaWarningHighlight{
    /* border: 2px solid #f5e79e !important;  */
    background-color: #fcf8e3 !important;
    cursor: pointer;
}

.ccdaInfoHighlight{
    /* border: 2px solid #9acfea !important;  */
    background-color: #d9edf7 !important;
    cursor: pointer;
}

.ccdaErrorHighlight:hover, .ccdaErrorHighlight:focus{
    box-shadow: inset  0 0 5px red;
}

.ccdaWarningHighlight:hover, .ccdaWarningHighlight:focus{
    box-shadow: inset  0 0 5px yellow;
}

.ccdaInfoHighlight:hover, .ccdaInfoHighlight:focus{
    box-shadow: inset  0 0 5px blue;
}

.resultpopover {
    max-width: 500px !important;
    padding: 10px !important;
    background-color: beige;
    left: 800px !important;
}

.resultPopoverBackground{
    background-color: beige;
}

.xmlResultIcon{
    font-size: .8em;
}