<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <page-overview-header title="FHIR Sandbox" description="The sandbox contains resources and tools that can be used by implementers of HL7 FHIR® standard. These resources are expected to supplement the resources that are already available and published by HL7."></page-overview-header>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" [href]="fhir_server_url" tabindex="1" title="FHIR Server" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>FHIR Server</h4>
            <span>This is an implementation of the FHIR standard using the US Core Implementation guide. We expect client developers to use the server as part of their development activities to work with different data sets.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" [href]="fhir_query_url" tabindex="1" title="FHIR Query Too" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>FHIR Query Tool</h4>
            <span>FHIR Query Tool can be used to test a FHIR Server using various search parameter combinations. The tool makes it easy for users to query FHIR servers without knowing the specific authorization workflows and FHIR syntaxes for searches.</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12">
      <ul class="sandbox-container">
        <li>
          <a class="sandbox-block" [href]="fhir_conformance_url" tabindex="1" title="FHIR Conformance Test Tool" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>FHIR Conformance Test Tool</h4>
            <span>The FHIR Conformance Test Tool provides an easy way for servers to test their conformance to an implementation guide using test data and test scripts.</span>
          </a>
        </li>
        <li>
          <a class="sandbox-block" [href]="fhir_bulk_data_url" tabindex="1" title="FHIR Bulk Data API" target="_blank">
            <span class="caption glyphicon glyphicon-wrench"></span>
            <h4>FHIR Bulk Data API</h4>
            <span>The FHIR Bulk Data API is an implementation of the FHIR Bulk Data proposal.</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
