.sandbox-overview{
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid #003366;
}

.sandbox-overview h1{
  color: #003366;
  font-weight: 600;
  padding: 2px 0px 0px 10px;
}

.sandbox-overview p{
  padding: 2px 0px 0px 10px;
}

.header-description{
  padding: 0px 5px 50px 5px;
}
