<div class="container">
  <page-overview-header title="Direct Transport Test Tool" description="The goal of the SITE Direct Transport Sandbox is to provide a mechanism for developers to test their Direct implementation."></page-overview-header>
  <div class="row">
    <div class="col-sm-12">
      <h2>Steps to exchange Direct messages with the Sandbox:</h2>
      <p> Publish your Direct certificates (Organization or Address bound) per the <a href="http://wiki.directproject.org/Applicability+Statement+for+Secure+Health+Transport+-+Call+to+Consensus+on+Requiring+DNS+and+LDAP+Certificate+Discovery" tabindex="1" target="_blank">Direct specifications</a><span class="inline-ext"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span> .</p>
      <ol>
        <li> Download the Trust Anchor for the Sandbox(<a href="/site-portal-directtransport-portlet/Certificates/PublicKeys/direct.sitenv.org_ca.der" tabindex="1">direct.sitenv.org Certificate</a>) and import the trust anchor into your trust store.</li>
        <li> Upload your Trust Anchor using the Upload Trust Anchor feature below. The Trust Anchors must be in a ".der" format.</li>
        <li> Use the information in the <b><i>Send Direct Message</i></b> feature below to send messages from your system to the sandbox.</li>
        <li> Use the information in the <b><i>Receive Direct Message</i></b> feature below to receive messages from the sandbox to your system.&nbsp;</li>
      </ol>
      <p> If you encounter any issues using the SITE Direct Transport Sandbox send an email to <a href="mailto:TestingServices@sitenv.org" tabindex="1">TestingServices@sitenv.org</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <trustanchor-exchange-component>loading...</trustanchor-exchange-component>
    </div>
  </div>
</div>

