<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"> Trust Anchor Exchange</h2>
    </div>
    <div class="panel-body">
        <span>Trust Anchor Exchange can be accomplished via two different mechanisms.</span>
        <ol>
            <li><span style="text-decoration: underline;"> Trust Anchor Exchange using BlueButton Trust Bundles: </span>
                <ul>
                    <li>SITE's Direct instantiation synchronizes with the <a href="https://secure.bluebuttontrust.org/" target="_blank" tabindex="1">BlueButton</a><span class="inline-ext"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span> Patient and Provider Test bundles every minute. The SITE's Trust Anchor is already part of the <a href="https://secure.bluebuttontrust.org/" target="_blank" tabindex="1">BlueButton</a><span class="inline-ext"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span> Patient and Provider Test bundles.
                        <ul>
                            <li>Implementers can download the SITE Trust Anchor from the <a href="https://secure.bluebuttontrust.org/" target="_blank" tabindex="1">BlueButton</a><span class="inline-ext"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span> bundles. </li>
                            <li>Implementers can submit their Trust Anchors on the <a href="https://secure.bluebuttontrust.org/" target="_blank" tabindex="1">BlueButton</a><span class="inline-ext"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers"><span class="hiddenText">Web Site Disclaimers</span></a></span> website. </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span style="text-decoration: underline;"> Trust Anchor Exchange using "SITE Upload Trust Anchor": </span>
                <ul>
                    <li>Download the Trust Anchor for the Sandbox <a href="/site-portal-directtransport-portlet/Certificates/PublicKeys/direct.sitenv.org_ca.der" tabindex="1">(direct.sitenv.org Certificate)</a> and import the trust anchor into your trust store. </li>
                    <li>Please upload your Trust Anchor by selecting your Trust Anchor. If you need to replace the Trust Anchor, just perform another upload and the previous one will be replaced.</li>
                    <li>Uploading the Trust Anchor causes an update to the <a href="/trustBundle/TrustBundle.p7b" tabindex="1">Trust Bundle</a> of <a href="http://direct.sitenv.org" target="_blank" tabindex="1">direct.sitenv.org</a> which is refreshed every five minutes and is only used for testing purposes. Once a Trust Anchor is uploaded, users can test with the Direct sandbox after five minutes. </li>
                </ul>
            </li>
        </ol>
        <div class="well">
            <form name="trustanchorexchangeform" #trustanchorexchangeform="ngForm"
                  (ngSubmit)="onSubmit(trustanchorexchangeform.value)"
                  class="form-horizontal">
                <div class="form-group row">
                    <label for="fileUpload">Select a Local Trust Anchor Certificate (binary or PEM encoded):</label>
                    <input type="file" id="fileUpload" (change)="fileChangeEvent($event)" class="form-control" tabindex="1" required/>
                </div>
                <div class="form-group row">
                    <label for="trustanchorUpload">Submit Anchor</label>
                    <div id="trustanchorUpload">
                        <button type="submit" class="btn btn-primary" [disabled]="!trustanchorexchangeform.form.valid">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            <div *ngIf="uploadResults?.message">
                <div [ngClass]="{'alert-success': uploadResults?.success==true, 'alert-danger': uploadResults?.success==false}" class="alert alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="clearUploadResults()">&times;</a>
                    <h4>{{ uploadResults?.message }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<modal #blockModal [keyboard]="false" [backdrop]="'static'">
    <modal-body>
        <div class="blockMsg">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
            <div>
                <h1>Uploading Trustanchor:</h1>
                <h4>{{filesToUpload[0]?.name}}</h4>
            </div>
        </div>
    </modal-body>
</modal>