<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Site receives Direct messages from your system</h2>
    </div>
    <div class="panel-body">
        <p>Send messages from your implementation to the end points listed below: </p>
        <ul>
            <li>Provider1@direct.sitenv.org</li>
        </ul> Upon successful receipt of the message, the Direct Sandbox will send an MDN(Message Disposition Notification) back to the sender. The content of the message can be anything and is not validated or used by the SITE.
    </div>
</div>
