<div class="container">
    <div class="row">
        <div class="col-sm-12 site-welcome">
                <div class="col-sm-6">
                    <h1>Welcome to SITE</h1>
                </div>
                <div class="col-sm-3 col-sm-offset-3 vertical-align">
                    <a class="btn btn-info btn-lg">News and Announcements</a>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <ul class="sandbox-container">
                    <li>
                        <a href="#" routerLink="/sandbox-ccda" tabindex="1" title="C-CDA Sandbox" class="sandbox-block btn btn-primary">
                            <span class="siteglyphs site-CCDA"></span>
                            <h4>C-CDA Sandbox</h4>
                            <span> This sandbox contains resources and test tools related to the Consolidated Clinical Document Architecture standard.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" role="button" tabindex="1" title="Direct Transport Sandbox - COMING SOON!" class="sandbox-block btn btn-primary" disabled="disabled">
                            <span class="siteglyphs site-Direct"></span>
                            <h4>Direct Transport Sandbox</h4>
                            <span>  The sandbox contains resources and test tools related to the Direct project and Direct systems registered by health IT developers that can be used by implementers to test interoperability.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="1" title="FHIR Sandbox - COMING SOON!" class="sandbox-block btn btn-primary" disabled="disabled">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <h4>FHIR Sandbox</h4>
                            <span>  This sandbox contains resources and test tools related to the Fast Healthcare Interoperability Resources. (FHIR) standard.</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="1" title="QRDA-CQM Sandbox - COMING SOON!" class="sandbox-block btn btn-primary" disabled="disabled">
                            <span class="siteglyphs site-CQM"></span>
                            <h4>Quality Reporting Document Architecture-Clinical Quality Measures Sandbox</h4>
                            <span>  This sandbox contains resources and tools related to evaluating the accuracy of clinical quality measure calculations with Cypress.</span>
                        </a>
                    </li>
                </ul>
        </div>
        </div>
</div>
