<div class="container">
    <div class="row">
        <div class="col-sm-8 site-welcome-overview">
            <h1>Welcome to SITE</h1>
            <p>The <strong>Standards Implementation & Testing Environment (SITE)</strong> is a centralized collection of testing tools and resources designed to assist health IT developers and health IT users fully evaluate specific technical standards and maximize the potential of their health IT implementations. SITE is organized in a collection of sandboxes that provide test tools, sample data, collaboration resources, and useful links. </p>
        </div>
        <div class="col-sm-4">
            <site-features-table></site-features-table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="sandbox-container">
                <li>
                    <a href="#" routerLink="/sandbox-ccda" tabindex="1" title="C-CDA Sandbox" class="sandbox-block">
                        <span class="siteglyphs site-CCDA"></span>
                        <h4>C-CDA Sandbox</h4>
                        <span> This sandbox contains resources and test tools related to the Consolidated Clinical Document Architecture standard.</span>
                    </a>
                </li>
                <li>
                    <a href="{{direct_url}}" role="button" tabindex="1" title="Direct Transport Sandbox" class="sandbox-block" target="_blank">
                        <span class="siteglyphs site-Direct"></span>
                        <h4>Direct Transport Sandbox</h4>
                        <span>  The sandbox contains resources and test tools related to the Direct project and Direct systems registered by health IT developers that can be used by implementers to test interoperability.</span>
                    </a>
                </li>
                <li>
                    <a href="{{fhir_url}}" tabindex="1" title="FHIR Sandbox!" class="sandbox-block" target="_blank">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <h4>FHIR Sandbox</h4>
                        <span>This sandbox contains resources and test tools related to the Fast Healthcare Interoperability Resources. (FHIR) standard.</span>
                    </a>
                </li>
                <li>
                    <a href="#" routerLink="/sandbox-qrm-cqm" tabindex="1" title="QRDA-CQM Sandbox" class="sandbox-block">
                        <span class="siteglyphs site-CQM"></span>
                        <h4>Quality Reporting Document Architecture-Clinical Quality Measures Sandbox</h4>
                        <span>This sandbox contains resources and tools related to evaluating the accuracy of clinical quality measure calculations with Cypress.</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Information for Developers:</h2>
            <p>SITE resources and test tools work best when developers access them via web browsers which are the following versions or higher.</p>
            <div class="list-group">
                <span class="list-group-item active" style="color: white">Developers should use the following web browsers:</span>
                <a class="list-group-item" href="http://www.apple.com/safari/" tabindex="1" target="_blank">Apple Safari (version 5.1+)</a>
                <span class="external-page embedded">
                    <a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers">
                    <span class="hiddenText">Web Site Disclaimers</span>
                    </a>
                </span>
                <a class="list-group-item" href="https://www.google.com/intl/en/chrome/browser/" tabindex="1" target="_blank">Google Chrome (version 25+)</a>
                <span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers">
                    <span class="hiddenText">Web Site Disclaimers</span>
                </a>
                </span>
                <a class="list-group-item" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" tabindex="1" target="_blank">Microsoft Internet Explorer (version 9.0+)</a>
                <span class="external-page embedded">
                    <a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers">
                    <span class="hiddenText">Web Site Disclaimers</span>
                    </a>
                </span>
                <a class="list-group-item" href="http://www.mozilla.org/en-US/firefox/new/" tabindex="1" target="_blank">Mozilla Firefox (version 17+)</a>
                <span class="external-page embedded"><a class="ext-icon" href="http://www.hhs.gov/disclaimer.html" tabindex="1" target="_blank" title="Web Site Disclaimers">
                    <span class="hiddenText">Web Site Disclaimers</span>
                </a>
                </span>
            </div>
        </div>

    </div>
</div>
